@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600;700&family=Quicksand:wght@400;500&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Quicksand', sans-serif;
}

@media screen and (min-width: 768px) {
    main {
        width: 45%;
    }
}

img {
    border-radius: 10px;
}