body {
    background-color: aquamarine;
}

.my-form {
    margin: 10rem auto;
    background-color: #fff;
    width: 600px;
    height: 1000px;
}

header {
    height: 200px;
    background-color: #6a3093;
}

.heading-icon {
    height: 60%;
    text-align: center;
}

.heading-icon i {
    color: #fff;
    font-size: 4rem;
    margin-top: 3rem;
}

.heading-text {
    height: 40%;
    text-align: center;
}

.heading-text h1 {
    text-transform: uppercase;
    color: #fff;
}