
.blog-site-content{
    width: 100%;
    display: flex;
    padding: 5em 0;
    box-sizing: border-box;
}
.blog-container{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: flex;
}
/*site--main*/
.bl-site-main{
    width: 66%;
    box-sizing: border-box;
    padding: 0px 15px;
}
img{
    width: 100%;
    vertical-align: middle; /* dè */
}
a{
    word-wrap: break-word;
}

.blog-row{
}
.bl-row-1{
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.bl-entry-meta i{
    color: #ff4880;
}
.bl-post-inner{
}
.bl-post-thumbnail{
    margin-bottom: 1.5rem;
    overflow: hidden;
    border-radius: 15px;
}
.bl-entry-header{
    position: relative;
    vertical-align: middle;
}
.bl-entry-meta{
    margin: 0;
    color: #858687;
    margin-bottom: 0.55rem;
    font-size: 13px;
}
.cat-links{
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 15px;
}
.bl-entry-title{
   font-size: 30px;
    margin-bottom: 0;
    padding: 10px 0px;
}
/*end site main*/
/*nav*/
.posts-navigation{
}
li{
    list-style: none;
}
.pagination{
    justify-content: flex-end;
    display: flex;
}

.page-item{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,.09);
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;
}
.active{
    color: #fff;
    background-color: #ff4880;
    border-color: #ff2f6e;
}
.nav-page-link{

}
.page-item a:hover{
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #ff4880;
    border-color: #ff4880;
}
/*end nav*/
/*sidebar*/
.bl-sidebar-inner{
    width: 33%;
    padding-left: 30px;
}
/*end siderbar*/

/* hover color pagination */
a.nav-page-link {
    border-radius: 15px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.widget-title{
    font-size: 24px;

}
.bl-sbd-1{
    background: #fff;
    padding: 0 20px 25px;
    padding-top: 0px;
    font-size: 1em;
}
ul{
    margin: 0;
}
.cat-item{
    padding: 5px 0;
    list-style: none;
    font-size: 16px;
    margin-left: -30px;
}
.cat-item a i{
    color: #ff4880;
    margin-right: 10px;
}
.cat-item a{
    color: #858687;

}
.item-post-media{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 15px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #ebebeb;
}
.item-post-media img{
    width: 80px;
    border-radius: 15px;
}
.bl-ul-post{
    margin-left: -30px;
}
.media-body h3{
    font-size: 18px;
}
.media-body{
    margin-left: 15px;
}
.tagcloud a{
    padding: 6px 25px;
    background-color: #fff;
    font-size: .8125rem !important;
    font-weight: 500;
    text-transform: uppercase;
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 1em;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}